
.btn-clean {
  background-color: #c7c7c7 !important;
  border-color: #c7c7c7 !important;

  &:hover {
    background-color: #a6a6a6 !important;
    border-color: #a6a6a6 !important;
  }
}

.btn-edit{
  background-color: #A3CBFF !important;
  border-color: #A3CBFF !important;

  &:hover {
    background-color: #66a5f7 !important;
    border-color: #66a5f7 !important;
  }
}